<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Inder|Vidaloka|Raleway:700,400' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="../stylesheets/profile.css">
    <title>Profile</title>
</head>
<body>
    <div class="bc_app"><div class="bc_app2" >
        <div class="bc_appline"></div>
        blythe travert
        <div class="bc_appline"></div>
        </div>
        
        <div class="bc_appbg">
        
        <div class="bc_appmain">
        
        <div class="bc_appmain2">
        <input type="radio" id="bc_appmain2-5" name="bc_appmain2-group-2" checked>
        <label for="bc_appmain2-5">EDITORIAL</label>
        <div class="bc_content">
        <div class="bc_mainimg">
        <img src="https://images2.imgbox.com/17/df/HrtYuvwV_o.png"/>
        </div>
        </div>
        </div>
        
        <div class="bc_appmain2">
        <input type="radio" id="bc_appmain2-6" name="bc_appmain2-group-2">
        <label for="bc_appmain2-6">BASICS</label>
        <div class="bc_content">
        
        <table><tr valign="top"><td>
        <div class="bc_tretext"><div class="bc_tretext2">
        
        <h1>Basics</h1>
        
        <h2>Name</h2> <h3>Fraise Blythe Travert</h3>
        <h2>Age</h2> <h3>17</h3>
        <h2>Sex</h2> <h3>Female</h3>
        <h2>Height</h2> <h3>5'3"</h3>
        <h2>Blood Type</h2> <h3>A</h3>
        <h2>Birthday</h2> <h3>April / 22</h3>
        
        <h1>Personal</h1>
        
        <h2>Gender</h2> <h3>Female</h3>
        <h2>Sexuality</h2> <h3>Heterosexual</h3>
        <h2>Birthplace</h2> <h3>Québec, QC Canada</h3>
        
        <h1>Digified</h1>
        
        <h2>Digivice</h2> <h3>Gold/Celadon</h3>
        <h2>Crest</h2> <h3>Temperance</h3>
        <h2>Attribute</h2> <h3>Variable</h3>
        <h2>Family</h2> <h3>i'm willing to learn to love it...</h3>
        
        <h1>Faceclaim</h1>
        <h2>Anime:</h2> <h3>Quintessential Quintuplets</h3>
        <h2>Name:</h2> <h3>Nakano Yotsuba</h3>
        
        </div></div>
        </td><td>
        <div class="bc_treimg">
        <img src="https://images2.imgbox.com/4b/8c/JL3z2cRe_o.png"/>
        </div>
        </td></tr></table>
        </div>
        </div>
        
        <div class="bc_appmain2">
        <input type="radio" id="bc_appmain2-7" name="bc_appmain2-group-2">
        <label for="bc_appmain2-7">FREESTYLE</label>
        <div class="bc_content">
        <table><tr valign="top"><td>
        <div class="bc_secimg">
        <img src="https://images2.imgbox.com/4d/02/bjfCTKCz_o.png"/>
        </div>
        </td><td>
        <div class="bc_sectext"><div class="bc_sectext2">
        
          <div class="bc_sectext2_quote">The strawberry grows underneath the nettle And wholesome berries thrive and ripen best Neighbour'd by fruit of baser quality.</div><div class="bc_sectext2_pen_label">william shakespear</div>
        
        Blythe embodies the astrological signs of the bull and crab. She can be stubborn and prone to impulsive decision making. Prone to living a life of excess, she lacks the simplest concepts of moderation. Often spreading herself thin in her social groups and pursuits. 
        
        She often takes the term “Social Butterfly” to a new level, and invests large amounts of time in getting to know everyone that she meets. Naturally cheerful, people tend to find her outgoing personality easy to talk to. This does have the downside of her being overly chatty and a bit of a gossip. There are moments where this can inadvertently backfire as she over-reveals things that should not have been shared.
        
        But, she cannot help that she is honest! And lacks the basic forthright to keep a secret. This leads to a basic understanding that everything must be revealed- one way or the other. Blythe thirsts for knowledge. After getting to know her, most people are surprised to learn she is actually book-smart. She is prone to secluding herself for periods of study when she needs to recharge her social meter. We all need breaks sometimes.
        
        Her desire to belong and fit in with everyone she meets often lends itself to a sense of selflessness. If a friend is in need she would readily give them the clothes off her back. This has led to a number of superficial friendships at her old school, which lacked the sincerity she craves. After moving to California, she has not learned her lesson in many regards.
        
        Life without friends can be boring after all. Blythe craves the next big adventure to knock on her door. Though, that does not mean she goes searching for it. She lacks a lot of the drive that people would consider ambition. Every new friend is a new potential quest to unlock in the thrilling game of life.
        
        And she takes those bonds she makes seriously. The idea that she might have hurt a friend is enough to make her weak in the knees. Bythe loathes the thought of causing a living creature harm. She genuinely wants to do the best for others, even if that means sacrificing her own desires in the process. All for the greater good, right?
        
        Which can cause Blythe to be easily swayed by more negatively-aligned agendas. If it has the potential to be twisted in the benefit of the greater good she will wholeheartedly devote herself to the cause. Even if it is not the best option morally. This blind loyalty to the greater good can lead her away from more grounded individuals who might pull her back. She’s doing this for them, too, even if they cannot see it yet! They will understand someday. 
        
        Just as she can understand and accept them. Blythe expects the same degree of tolerance from everyone around her. Those who belittle others or act against the law to actively harm others are unfathomable to her. She is easily crippled by the idea that there are true evil people who murder for the sake of their selfish gains.
        
        Yet, she wants people to have the freedom to explore themselves. Perhaps a contradiction of sorts, she can even accept the evil in the world, understanding that there is a natural balance. A scientist might murder in the pursuit of a cure. A doctor may lose countless people choosing to save one life. There is no such thing as a pure black and white world. 
        
        As such, she is as authentic to her true self as she can be. She does not make excuses for her shortcomings. Blythe is independent, and she takes responsibility for her actions. This is often portrayed through an animated and expressive speech pattern and fervent desire to defend her beliefs. A quick debate is always an option- Blythe might go so far as to instigate an argument for the sake of having intellectual banter.
          
          <center><div class="bc_sectext2_breakup"></div></center>
        
          Strawberries. The first memories she could ever remember were of strawberries, laughter, and sunshine. Which was odd given that her family never seemed to buy strawberries. Growing up the youngest of five daughters was rarely met with laughter. Then where did those memories originate?
        
        She was the baby, sixteen years younger than her eldest sister. Her parents had begun to have problems before she was born, and her father believed she was the product of an affair. Blythe seemed to be written off as a lost cause before her life ever really began. Not that she seemed to notice the constant fighting of her parents, or the drifting attention between the eldest four children. 
        
        There had to be something more out there. 
        
        Blythe once let herself out for a walk when she was four years old and was found by an elderly woman she can no longer remember the face of. Supposedly the woman kept her for four days before the police found her. She remembers the old woman was lonely. And, so sad.
        
        By her fifth birthday, Blythe had all but forgotten her first name was ‘Fraise’ until she heard her teacher say it. The other students around her snickered. For the rest of the school year she was called “Strawberry” by her peers. It was not until the following year that she learned her father had been calling her “the Blight” rather than saying her middle name. Now she understood the feeling that the old woman had seemed to embody. 
        
        She devoted herself to her studies for the remainder of her elementary school life. The pursuit of knowledge in books became a nice break from the loneliness of her home life. Gradually as the years passed, she pushed herself harder to make friends with the kids who harassed her. Breaking through their guarded walls until they turned the nickname Strawberry into a term of endearment. Some even shortened it. 
        
        Blythe had found her peace. She often imagined inviting all of her newfound friends to parties that she never really had anymore. Her family began to drift further and further apart as her elder sisters went off to college or moved out to jumpstart their own personal lives. Before her first year of high school, her mother and father decided to get a divorce. 
        
        The process took a few years, and a mess of legal paperwork that saw her parents in court every three months. Her father wanted nothing to do with her, and court ordered visitations with him were uneventful. He was never home during the time she was staying with him. Though, she wagered he was never at his apartment anyways, because the fridge and cabinets would be virtually empty. 
        
        She found her first job at fourteen as a means to feed herself while with her father. Her mother’s home was not much better. Blythe’s mother had fallen into despair, and all but forgot she still had a child at home. It took a year before the eviction notice was taped on the door. Naturally, her mother tried to fight it, but she had been out of work for four months prior, and the house had stopped being paid for. 
        
        Who knew the mortgage actually only lowered when it was paid?
        
        They moved into a smaller apartment owned by her mother’s sister. Though, it was noisy and filled with vermin. Blythe spent most of her afternoons at the local library to avoid returning home. Not that the children around her would ever guess she was having difficulties. What little money she made from work was quickly spent on her social circle buying lunches and small gifts for birthdays and holidays. 
        
        Her mother admitted one evening that they could not keep living this way. Blythe remembered being caught off guard by the comment at the time. Somehow, her mother sobered up and packed only their essentials into two large black trash bags. Without giving Blythe the opportunity to say goodbye, she had loaded them up in her aunt’s dingy Nissan and hit the road. 
        
        For a while, her mom kept them on the road, doing odd jobs from out of her car. Often forcing Blythe to help. She missed a lot of school but did not begrudge her mother this moment. Something just warned her that she needed it. Eventually, they found themselves in California.
        
        Her mother found a more stable job in Harbor City. Within the last two months she has even started dating again. Blythe does not mind, she is used to being on her own. The potential to start at a new school leaves her feeling excited. But… Some small part of her doubts that this is the best choice.
        
        
        </div></div>
        </td></tr></table>
        </div>
        </div>
        
        <div class="bc_appmain2">
        <input type="radio" id="bc_appmain2-8" name="bc_appmain2-group-2">
        <label for="bc_appmain2-8">INTRO</label>
        <div class="bc_content">
        
        <div class="bc_ship"><div class="bc_ship2"><div class="bc_ship3">
        <center><b>koi, 27, mermaidkoi [discord]</b></center>
        Name is Koi. I am level 27. DnD, Roleplay, and Pokemon are cool. Digimon was a childhood favorite that I would cry if I could not watch. Thanks Spartan for the recommendation to join. My quirk would have to be the switching randomly to third  person when I speak. Funnily enough, I am a Californian native so, hello Harbor City.<p/>
        
        Koi has basic css coding knowledge and enjoys making personal templates. I officially have no life to speak of, so all of my time is literally open to developing characters. Which is a hobby I deeply adore. Presently writing a book... Self-Proclaimed Author. This character is ready to love-hate all your characters, lets go.
        
        </div></div></div>
        
        </div>
        </div>
        
        </div>
        
        </div>
        
        </div>
        
        <div class="merc_cred"><a href="http://cttw.jcink.net/index.php?showuser=160">merc</a></div>
</body>
</html>